<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Prince::top_level" module="Prince_Faq" resource="Prince_Faq::Faq" sortOrder="11" title="FAQ" parent="Magento_Backend::content"/>
		<add action="prince_faq/faqgroup/index" id="Prince::prince_faqgroup" module="Prince_Faq" parent="Prince::top_level" resource="Prince_Forcelogin::forcelogin" sortOrder="20" title="Groups"/>
		<add action="prince_faq/faq/index" id="Prince::prince_faq" module="Prince_Faq" parent="Prince::top_level" resource="Prince_Faq::Faq" sortOrder="10" title="FAQ"/>
	</menu>
</config>
